@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

@import url("./arrows.css");
@import url("./header.css");
@import url("./bottom.css");
@import url("./top.css");

@import url("./responsive.css");
:root {
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
    font-family: "League Spartan", sans-serif;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 5fr;
    box-sizing: border-box;

    font-size: 12px;
}

.top {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.presentacion {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-arrows {
    position: absolute;
    width: 10rem;
    height: 5rem;
    bottom: 0px;
    right: -10rem;
}

.bottom {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
}

.dark,
.light {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark {
    background-image: url("../images/image-about-dark.jpg");
}

.light {
    background-image: url("../images/image-about-light.jpg");
}
